{% extends 'base.html' %}

{% block content %}
  <div class="container-fluid {% block userbg %} {% endblock %}">
    <nav>
        <a href="{{ url_for('home') }}">
          <span class="glyphicon glyphicon-menu-left"></span>
          <p>Back</p>
      </a>
    </nav>
    <h3>transaction history</h3>
    
    <div class="transContainer">
      <h3>RIDE RECEIPT</h3>
      
      <div class="transRow">
        <div class="transLeft">
          <p>Date:</p>
        </div>
        <div class="transRight">
          <p>2021-03-02</p>
        </div>
      </div>

      <div class="transRow">
        <div class="transLeft">
          <p>Passanger</p>
        </div>
        <div class="transRight">
          <p>Kim Doe</p>
        </div>
      </div>

      <div class="transRow">
        <div class="transLeft">
          <p>Driver</p>
        </div>
        <div class="transRight">
          <p>John Doe</p>
        </div>
      </div>

      <div class="transRow">
        <div class="transLeft">
          <p>Pick Up:</p>
        </div>
        <div class="transRight">
          <p>123 S 4rd St, Chicago IL 60804</p>
        </div>
      </div>

      <div class="transRow">
        <div class="transLeft">
          <p>Drop off:</p>
        </div>
        <div class="transRight">
          <p>123 S Michigan St, Chicago IL 60804</p>
        </div>
      </div>

      <div class="transRow">
        <div class="transLeft">
          <p>Start Time:</p>
        </div>
        <div class="transRight">
          <p>5:00 AM</p>
        </div>
      </div>

      <div class="transRow">
        <div class="transLeft">
          <p>End Time:</p>
        </div>
        <div class="transRight">
          <p>6:00 AM</p>
        </div>
      </div>

      <div class="transRow">
        <div class="transLeft">
          <p>Total Passangers:</p>
        </div>
        <div class="transRight">
          <p>3</p>
        </div>
      </div>



      <div class="transRow">
        <div class="transLeft">
          <p>Cost:</p>
        </div>
        <div class="transRight">
          <p>$200</p>
        </div>
      </div>

      <div class="transRow">
        <div class="transLeft">
          <p>Card Used:</p>
        </div>
        <div class="transRight">
          <p>XXXXXXXX9038</p>
        </div>
      </div>

      <div class="transRow">
        <div class="transLeft">
          <p>TOTAL {%block userMoney %} {% endblock %}:</p>
        </div>
        <div class="transRight">
          <p>$201</p>
        </div>
      </div>


    </div>


  </div>
{% endblock %}
