{% extends 'base.html' %}

{% block content %}
  <div class="container-fluid {% block userbg %} {% endblock %}">
    <nav>
        <a href="{{ url_for('home') }}">
          <span class="glyphicon glyphicon-menu-left"></span>
          <p>Back</p>
      </a>
    </nav>
    <h3>transaction history</h3>
    <div class="transMasterContainer">
      {% if transactions|length == 0 %}
      <h3>NO TRANSACTION FOUND</h3>
      {% else %}
      {% for transaction in transactions %}
      <div class="transContainer">
        <h3>RIDE RECEIPT</h3>

        <div class="transRow">
          <div class="transLeft">
            <p>Date:</p>
          </div>
          <div class="transRight">
              <p>{{ transaction.date.strftime('%Y-%m-%d') }}</p>
          </div>
        </div>

        <div class="transRow">
          <div class="transLeft">
            <p>Customer</p>
          </div>
          <div class="transRight">
              <p>{{ transaction.sender.fname + " " + transaction.sender.lname }}</p>
          </div>
        </div>

        <div class="transRow">
          <div class="transLeft">
            <p>Driver</p>
          </div>
          <div class="transRight">
              <p>{{ transaction.receiver.fname + " " + transaction.receiver.lname }}</p>
          </div>
        </div>

        <div class="transRow">
          <div class="transLeft">
            <p>Pick Up:</p>
          </div>
          <div class="transRight">
              <p>{{ transaction.ride.pickup }}</p>
          </div>
        </div>

        <div class="transRow">
          <div class="transLeft">
            <p>Drop off:</p>
          </div>
          <div class="transRight">
              <p>{{ transaction.ride.destination }}</p>
          </div>
        </div>

        <div class="transRow">
          <div class="transLeft">
            <p>Card Used:</p>
          </div>
          <div class="transRight">
              {% if is_driver %}
              <p>{{ transaction.receiver.card }}</p>
              {% else %}
              <p>{{ transaction.sender.card }}</p>
              {% endif %}
          </div>
        </div>

        <div class="transRow">
          <div class="transLeft">
            <p>TOTAL {%block userMoney %} {% endblock %}:</p>
          </div>
          <div class="transRight">
              <p>${{ transaction.ride.cost }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
      {% endif %}
    </div>

  </div>
{% endblock %}
