{% extends 'base.html' %}

{% block content %}
  <div class="container-fluid user-bg">
    <nav>
      <a href="#">
          <span class="glyphicon glyphicon-menu-left"></span>
          <p>Home</p>
      </a>
    </nav>
    <h3>edit account</h3>
    <form>
      <!-- SECTION 1 -->
      <div class="formSection">
        <img src="{{url_for('static', filename='numbers/1.svg')}}" />
        <p>basic information</p>
      
        <h4 class="editLabel">email</h4>
        <input class="formInput" placeholder="jondoe@gmail.com" type="text" name="emailSignup">
        <h4 class="editLabel">new password</h4>
        <input class="formInput" placeholder="********" type="password" name="passwordSignup">
        <h4 class="editLabel">first name</h4>
        <input class="formInput" placeholder="John" type="text" name="firstNameSignup">
        <h4 class="editLabel">last name</h4>
        <input class="formInput" placeholder="Doe" type="text" name="lastNameSignup">
        <h4 class="editLabel">birthday</h4>
        <input class="formInput" type="date" name="birthdaySignup">
      </div>

      <!-- SECTION 2 -->
      <div class="formSection">
        <img src="{{url_for('static', filename='numbers/2.svg')}}" />
        <p>mailing address</p>
        
        <h4 class="editLabel">street</h4>
        <input class="formInput" placeholder="333 S. State St." type="text" name="streetSignup">
        <h4 class="editLabel">city</h4>
        <input class="formInput" placeholder="Chicago" type="password" name="citySignup">
        <h4 class="editLabel">state</h4>
        <input class="formInput" placeholder="Illinois" type="text" name="stateSignup">
        <h4 class="editLabel">zip code</h4>
        <input class="formInput" placeholder="60606" type="text" name="zipcodeSignup">
      </div>

      <!-- SECTION 3 -->
      <div class="formSection">
        <img src="{{url_for('static', filename='numbers/3.svg')}}" />
        <p>credit card information</p>
      
        <h4 class="editLabel">card number</h4>
        <input class="formInput" placeholder="9032 3948 3940 2049" type="text" name="cardNumberSignup">
        <div class="inputHalf">
          <input class="formInput" placeholder="exp" type="password" name="citySignup">
          <input class="formInput" placeholder="CVV" type="text" name="cvvSignup">
        </div>
      </div>


    </form>
    <div class="btnContainer">
      <button class="btnStyle1 btnWhiteNavyBlue" id="homeForm">submit change</button>
    </div>
  </div>
{% endblock %}