<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
  	<title>Rebu: On-Demand Ridesharing</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- bootstrap styling -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- custom css styling  -->
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet">

    <!-- bootstrap styling -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container-fluid driver-bg">
      <nav>
      	<a href="#">
            <span class="glyphicon glyphicon-menu-left"></span>
            <p>Home</p>
        </a>
      </nav>
      <h3>edit driver account</h3>
      <form>
        <!-- SECTION 1 -->
        <div class="formSection">
          <img src="{{url_for('static', filename='numbers/1.svg')}}" />
          <p>basic information</p>
        
          <h4 class="editLabel">email</h4>
          <input class="formInput" placeholder="jondoe@gmail.com" type="text" name="emailSignup">
          <h4 class="editLabel">new password</h4>
          <input class="formInput" placeholder="********" type="password" name="passwordSignup">
          <h4 class="editLabel">first name</h4>
          <input class="formInput" placeholder="John" type="text" name="firstNameSignup">
          <h4 class="editLabel">last name</h4>
          <input class="formInput" placeholder="Doe" type="text" name="lastNameSignup">
          <h4 class="editLabel">birthday</h4>
          <input class="formInput" type="date" name="birthdaySignup">
        </div>

        <!-- SECTION 2 -->
        <div class="formSection">
          <img src="{{url_for('static', filename='numbers/2.svg')}}" />
          <p>mailing address</p>
          
          <h4 class="editLabel">street</h4>
          <input class="formInput" placeholder="333 S. State St." type="text" name="streetSignup">
          <h4 class="editLabel">city</h4>
          <input class="formInput" placeholder="Chicago" type="password" name="citySignup">
          <h4 class="editLabel">state</h4>
          <input class="formInput" placeholder="Illinois" type="text" name="stateSignup">
          <h4 class="editLabel">zip code</h4>
          <input class="formInput" placeholder="60606" type="text" name="zipcodeSignup">
        </div>

        <!-- SECTION 3 -->
        <div class="formSection">
          <img src="{{url_for('static', filename='numbers/3.svg')}}" />
          <p>credit card information</p>
        
          <h4 class="editLabel">card number</h4>
          <input class="formInput" placeholder="9032 3948 3940 2049" type="text" name="cardNumberSignup">
          <div class="inputHalf">
            <input class="formInput" placeholder="exp" type="password" name="citySignup">
            <input class="formInput" placeholder="CVV" type="text" name="cvvSignup">
          </div>
        </div>

        <!-- SECTION 4 -->
        <div class="formSection">
          <img src="{{url_for('static', filename='numbers/4.svg')}}" />
          <p>car information</p>
          
          <h4 class="editLabel">license plate</h4>
          <input class="formInput" placeholder="12X343P" type="text" name="licensePlateSignup">
          <h4 class="editLabel">car manufacturer</h4>
          <input class="formInput" placeholder="Ford" type="password" name="manufacturorSignup">
          <h4 class="editLabel">total seats</h4>
          <input class="formInput" placeholder="3" type="text" name="totalSeatsSignup">
          <h4 class="editLabel">car description</h4>
          <input class="formInput" placeholder="White ford with 5 seats" type="text" name="carDescriptionSignup">
        </div>


      </form>
      <div class="btnContainer">
        <button class="btnStyle1 btnWhitePurple" id="homeForm">submit change</button>
      </div>
    </div>
  </body>
</html>
