{% extends 'base.html' %}

{% block head %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- menu javascript -->
	<script type="text/javascript" src="{{url_for('static', filename='js/main.js') }}"></script>
  <!-- map javascript -->
  <script type="text/javascript" src="{{url_for('static', filename='js/map.js') }}"></script>
{% endblock %}

{% block content %}
	<div class="container-fluid driver-bg">

    <!-- NAVAGATION BAR -->
    <nav id="myTopnav" class="homePageNav">
      <p class="navTitle">REBU</p>
    </nav>

    <!-- STATUS MESSAGE -->
    <h2 class="statusMsg">Picking up {{ ride.customer_info.fname }} ...</h2>
    <!-- GOOGLE API SCREEN -->
    <div id="map"></div>

    <!-- RIDE INFO CONTAINER  -->
    <div class="rideInfoContainer">
      <p class="rideInfoContainerTitle">Ride Information</p>

      <!-- RIDE INFO -->
    <p class="rideInfoName">
      {{ ride.customer_info.fname + " " + ride.customer_info.lname }}
    </p>

    <div class="rideInfoRating">
      {% for i in range(ride.customer_info.rating|int) %}
      <span class="fa fa-star" style="color: orange"></span>
      {% endfor %} {% for i in range(5 - ride.customer_info.rating|int)%}
      <span class="fa fa-star" style="color: lightgrey"></span>
      {% endfor %}
    </div>

    <p class="rideInfoDistance">{{ ride.distance_from_customer }} miles away</p>

    <p class="rideInfoSubtitle">Pickup Location</p>
    <p class="rideInfo">{{ ride.pickup }}</p>

    <div class="row rideDetailsContainer">
      <div class="col-xs-4">
        <p>{{ ride.total_passengers }} Passenger</p>
      </div>
      <div class="col-xs-4">
        <p>Price: ${{ ride.cost }}</p>
      </div>
      <div class="col-xs-4">
        <p>{{ ride.distance }} miles</p>
      </div>
    </div>

      <div class=".btnContainer">
      	<h3 class="question">Have you picked up John?</h3>

        <button class="btnStyle1 btnGradientPurple" id="homeForm" onclick="confirmPickup('{{ ride.id }}')">yes</button>
        <button class="btnStyle1 btnGreyWhite" id="homeForm" onclick="cancelRide('{{ ride.id }}')">cancel</button>
      </div>

      </div>

    </div>

  </div>
  <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
  <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBMoGOvmm_iE2suY-AnGKx8AmVqO6vz7gg&callback=initMap&libraries=&v=weekly"
    async
  ></script>
{% endblock%}
