{% extends 'base.html' %}

{% block content %}
  <div class="container-fluid driver-bg">
    <nav>
      <a href="{{ url_for('home') }}">
          <span class="glyphicon glyphicon-menu-left"></span>
          <p>Home</p>
      </a>
    </nav>
    <h3>edit driver account</h3>
    <form>
      <!-- SECTION 1 -->
      <div class="formSection">
        <img src="{{url_for('static', filename='numbers/1.svg')}}" />
        <p>basic information</p>

        <h4 class="editLabel">email</h4>
        <input class="formInput" placeholder="jondoe@gmail.com" type="text" name="email" id="email" value="{{ driver.email }}" readonly>
        <h4 class="editLabel">new password</h4>
        <input class="formInput" placeholder="********" type="password" name="password" id="password">
        <h4 class="editLabel">first name</h4>
        <input class="formInput" placeholder="John" type="text" name="fname" id="fname" value="{{ driver.customer.fname }}">
        <h4 class="editLabel">last name</h4>
        <input class="formInput" placeholder="Doe" type="text" name="lname" id="lname" value="{{ driver.customer.lname }}">
      </div>

      <!-- SECTION 2 -->
      <div class="formSection">
        <img src="{{url_for('static', filename='numbers/2.svg')}}" />
        <p>mailing address</p>

        <h4 class="editLabel">street</h4>
        <input class="formInput" placeholder="333 S. State St." type="text" name="street" id="street" value="{{ driver.customer.street }}">
        <h4 class="editLabel">city</h4>
        <input class="formInput" placeholder="Chicago" type="text" name="city" id="city" value="{{ driver.customer.city }}">
        <h4 class="editLabel">state</h4>
        <input class="formInput" placeholder="Illinois" type="text" name="state" id="state" value="{{ driver.customer.state }}">
        <h4 class="editLabel">zip code</h4>
        <input class="formInput" placeholder="60606" type="text" name="zip_code" id="zip_code" value="{{ driver.customer.zip_code }}">
      </div>

      <!-- SECTION 3 -->
      <div class="formSection">
        <img src="{{url_for('static', filename='numbers/3.svg')}}" />
        <p>credit card information</p>

        <h4 class="editLabel">card number</h4>
        <input class="formInput" placeholder="9032 3948 3940 2049" type="text" name="credit_card_number" id="credit_card_number" value="{{ driver.customer.credit_card_number }}">
        <div class="inputHalf">
          <input class="formInput" placeholder="MM" type="text" name="expired_month" id="expired_month" minlength="1" maxlength="2" value="{{ driver.customer.expired_month }}">
          <input class="formInput" placeholder="yyyy" type="text" name="expired_year" id="expired_year" minlength="4" maxlength="4" value="{{ driver.customer.expired_year }}">
          <input class="formInput" placeholder="CVV" type="text" name="cvv" id="cvv" minlength="3" maxlength="3" value="{{ driver.customer.cvv }}">
        </div>
      </div>

      <!-- SECTION 4 -->
      <div class="formSection">
        <img src="{{url_for('static', filename='numbers/4.svg')}}" />
        <p>car information</p>

        <h4 class="editLabel">license plate</h4>
        <input class="formInput" placeholder="12X343P" type="text" name="license_plate" id="license_plate" value="{{ driver.driver.license_plate }}">
        <h4 class="editLabel">car manufacturer</h4>
        <input class="formInput" placeholder="Ford" type="text" name="car_manufacturer" id="car_manufacturer" value="{{ driver.driver.car_manufacturer }}">
        <h4 class="editLabel">total seats</h4>
        <input class="formInput" placeholder="3" type="number" name="total_seats" id="total_seats" min="1" max="6" value="{{ driver.driver.total_seats }}">
        <h4 class="editLabel">car description</h4>
        <input class="formInput" placeholder="White ford with 5 seats" type="text" name="car_description" id="car_description" value="{{ driver.driver.car_description }}">
      </div>


    </form>
    <div class="btnContainer">
      <button class="btnStyle1 btnWhitePurple" id="homeForm">submit change</button>
    </div>
  </div>
{% endblock %}


<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
  	<title>Rebu: On-Demand Ridesharing</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- bootstrap styling -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- custom css styling  -->
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet">

    <!-- bootstrap styling -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
  <body>

  </body>
</html>
