{% extends 'base.html' %}

{% block head %}
  <!-- menu javascript -->
  <script type="text/javascript" src="{{url_for('static', filename='js/main.js') }}"></script>
  <!-- map javascript -->
  <script type="text/javascript" src="{{url_for('static', filename='js/map.js') }}"></script>
{% endblock %}

{% block content %}
  <div class="container-fluid driver-bg">

    <!-- NAVAGATION BAR -->
    <nav id="myTopnav" class="homePageNav">
      <p class="navTitle">REBU</p>
    </nav>

    <!-- STATUS MESSAGE -->
    <h2 class="statusMsg">RIDE OVERVIEW</h2>
    <!-- GOOGLE API SCREEN -->
    <div id="map"></div>

    <!-- RIDE INFO CONTAINER  -->
    <div class="rideInfoContainer">
      <form id="review_form" action="{{ url_for('submit_customer_review') }}" method="POST">

      <p class="rideInfoContainerTitle">rate your ride</p>
      <div class="rate">
        <input type="radio" id="star5" name="rate" value="5" required/>
        <label for="star5" title="text"></label>
        <input type="radio" id="star4" name="rate" value="4" />
        <label for="star4" title="text"></label>
        <input type="radio" id="star3" name="rate" value="3" />
        <label for="star3" title="text"></label>
        <input type="radio" id="star2" name="rate" value="2" />
        <label for="star2" title="text"></label>
        <input type="radio" id="star1" name="rate" value="1" />
        <label for="star1" title="text"></label>
      </div>

      <br/>
      <br/>
      <br/>

      <textarea class="formInput2" name="feedback" id="feedback" placeholder="comments..." required></textarea>

      </form>


      <div class="btnContainer">
        <button form="review_form" class="btnStyle1 btnGradientPurple">complete</button>
      </div>

      </div>

    </div>

  </div>
  <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
  <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBMoGOvmm_iE2suY-AnGKx8AmVqO6vz7gg&callback=initMap&libraries=&v=weekly"
    async
  ></script>

{% endblock %}

