<p class="rideInfoName">
  {{ ride.customer_info.fname + " " + ride.customer_info.lname }}
</p>
<div class="rideInfoRating">
  {% for i in range(ride.customer_info.rating|int) %}
  <span class="fa fa-star" style="color: orange"></span>
  {% endfor %} {% for i in range(5 - ride.customer_info.rating|int)%}
  <span class="fa fa-star" style="color: lightgrey"></span>
  {% endfor %}
</div>
<p class="rideInfoDistance">{{ ride.distance_from_customer }} miles away</p>

<p class="rideInfoSubtitle">Pickup Location</p>
<p class="rideInfo">{{ ride.pickup }}</p>

<p class="rideInfoSubtitle">Destination</p>
<p class="rideInfo">{{ ride.destination }}</p>

<div class="row rideDetailsContainer">
  <div class="col-xs-4">
    <p>{{ ride.total_passengers }} Passenger</p>
  </div>
  <div class="col-xs-4">
    <p>Price: ${{ ride.cost }}</p>
  </div>
  <div class="col-xs-4">
    <p>{{ ride.distance }} miles</p>
  </div>
</div>

<div class="btnContainer">
  <button
    class="btnStyle1 btnGradientPurple"
    id="homeForm"
    onclick="acceptRide('{{ ride.id }}')"
  >
    accept
  </button>
  <button
    class="btnStyle1 btnGreyWhite"
    id="homeForm"
    onclick="closeRideInfo()"
  >
    return
  </button>
</div>
