{% extends 'base.html' %}

{% block head %}
  <!-- menu js -->
  <script type="text/javascript" src="{{url_for('static', filename='js/main.js') }}"></script>
  <!-- map js -->
  <script type="text/javascript" src="{{url_for('static', filename='js/map.js') }}"></script>
  <!-- autopopulate js -->
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
{% endblock %}

{% block content %}
  <div class="container-fluid user-bg">
    <!-- NAVAGATION BAR -->
    <nav id="myTopnav" class="homePageNav">
      <p class="navTitle">REBU</p>
      <a id="hamburgerMenu" href="javascript:void(0);" onclick="toggleMenu()">
        <img src="{{url_for('static', filename='icons/hamburgerMenu.svg')}}" />
      </a>
    </nav>

    <!-- HIDDEN MENU -->
    <div id="hiddenMenu" style="display: none">
      <a href="{{ url_for('signout') }}">sign out</a>
      <a href="{{ url_for('edit_customer') }}">view and edit account</a>
      <a href="{{ url_for('view_transactions') }}">view transactions</a>
      <a href="{{ url_for('favorite_places') }}">favorite places</a>
======      <a href="{{ url_for('switch_to_driver') }}">switch to driver</a>
    </div>
    <!-- GOOGLE API SCREEN -->
    <div id="map"></div>


    <!-- REQUEST RIDE CONTAINER  -->
    <div class="requestRideContainer">
      <p class="requestRideTitle">Request Ride</p>

      <form action="{{ url_for('book_ride') }}" method="POST">
      <input name="pickup" id="ridePickup" class="formInput" placeholder="pickup location" onchange="ersFavP()" type="text" name="" required>
      <select id="favPlcP" name="pickup" id="cars" onchange="ersPck()">
        <option selected="selected">select favorite places</option>
        <option value="volvo">232 S. 49th Ave. Chicago, Il 60804</option>
        <option value="saab">Favorite Place 2</option>
        <option value="mercedes">Favorite Place 3</option>
        <option value="audi">Favorite Place 4</option>
      </select>

      <input name="destination" id="rideDestination" class="formInput" placeholder="destination" type="text" name="" onchange="ersFavD()">
      <select id="favPlcD" name="pickup" id="cars" onchange="ersDst()">
        <option selected="selected">select favorite places</option>
        <option value="volvo">232 S. 49th Ave. Chicago, Il 60804</option>
        <option value="saab">Favorite Place 2</option>
        <option value="mercedes">Favorite Place 3</option>
        <option value="audi">Favorite Place 4</option>
      </select>


      <input name="total_passengers" class="formInput" placeholder="number of passangers (max 6)" type="number" min="1" max="4" name="" required>

      <div id="addStopCtn"></div>

      <div class="btnContainer">
        <button onclick="addStop()" class="btnStyle1 btnWhiteBlue2" id="homeForm">add stop</button>
        <button type="submit" class="btnStyle1 btnBlueWhite" id="homeForm">request</button>
      </div>

    </div>

  </div>


  <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
  <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBMoGOvmm_iE2suY-AnGKx8AmVqO6vz7gg&callback=initMap&libraries=places&v=weekly"
    async
  ></script>
  <script type="text/javascript" src="{{url_for('static', filename='js/autocomplete.js') }}"></script>
{% endblock %}

