{% extends 'base.html' %}

{% block content %}
  <div class="container-fluid user-bg">
    <nav>
      <a href="{{ url_for('home') }}">
          <span class="glyphicon glyphicon-menu-left"></span>
          <p>Home</p>
      </a>
    </nav>
    <h3>edit account</h3>
    <form id="edit_form" action="{{ url_for('update_customer') }}" method="POST">
      <!-- SECTION 1 -->
      <div class="formSection">
        <img src="{{url_for('static', filename='numbers/1.svg')}}" />
        <p>basic information</p>

        <h4 class="editLabel">email</h4>
        <input class="formInput" placeholder="jondoe@gmail.com" type="text" name="email" id="email" value="{{ customer.email }}" readonly>
        <h4 class="editLabel">new password</h4>
        <input class="formInput" placeholder="********" type="password" name="password" id="password">
        <h4 class="editLabel">first name</h4>
        <input class="formInput" placeholder="John" type="text" name="fname" id="fname" value="{{ customer.customer.fname }}">
        <h4 class="editLabel">last name</h4>
        <input class="formInput" placeholder="Doe" type="text" name="lname" id="lname" value="{{ customer.customer.lname }}">
      </div>

      <!-- SECTION 2 -->
      <div class="formSection">
        <img src="{{url_for('static', filename='numbers/2.svg')}}" />
        <p>mailing address</p>

        <h4 class="editLabel">street</h4>
        <input class="formInput" placeholder="333 S. State St." type="text" name="street" id="street" value="{{ customer.customer.street }}">
        <h4 class="editLabel">city</h4>
        <input class="formInput" placeholder="Chicago" type="text" name="city" id="city" value="{{ customer.customer.city }}">
        <h4 class="editLabel">state</h4>
        <input class="formInput" placeholder="Illinois" type="text" name="state" id="state" value="{{ customer.customer.state }}">
        <h4 class="editLabel">zip code</h4>
        <input class="formInput" placeholder="60606" type="text" name="zip_code" id="zip_code" value="{{ customer.customer.zip_code }}">
      </div>

      <!-- SECTION 3 -->
      <div class="formSection">
        <img src="{{url_for('static', filename='numbers/3.svg')}}" />
        <p>credit card information</p>

        <h4 class="editLabel">card number</h4>
        <input class="formInput" placeholder="9032 3948 3940 2049" type="text" name="credit_card_number" id="credit_card_number" value="{{ customer.customer.credit_card_number }}">
        <div class="inputHalf">
          <input class="formInput" placeholder="MM" type="text" name="expired_month" id="expired_month" minlength="1" maxlength="2" value="{{ customer.customer.expired_month }}">
          <input class="formInput" placeholder="yyyy" type="text" name="expired_year" id="expired_year" minlength="4" maxlength="4" value="{{ customer.customer.expired_year }}">
          <input class="formInput" placeholder="CVV" type="text" name="cvv" id="cvv" minlength="3" maxlength="3" value="{{ customer.customer.cvv }}">
        </div>
      </div>
    </form>
    <div class="btnContainer">
      <button type="submit" form="edit_form" class="btnStyle1 btnWhiteNavyBlue" id="homeForm">submit change</button>
    </div>
  </div>
{% endblock %}
