{% extends 'base.html' %}

{% block head %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- menu javascript -->
  <script type="text/javascript" src="{{url_for('static', filename='js/main.js') }}"></script>
  <!-- map javascript -->
  <script type="text/javascript" src="{{url_for('static', filename='js/map.js') }}"></script>
{% endblock %}

{% block content %}
  <div class="container-fluid user-bg blueText">

    <!-- NAVAGATION BAR -->
    <nav id="myTopnav" class="homePageNav">
      <p class="navTitle">REBU</p>
    </nav>

    <!-- STATUS MESSAGE -->
    <h2 class="statusMsg">Driving to your destination...</h2>
    <!-- GOOGLE API SCREEN -->
    <div id="map"></div>

    <!-- RIDE INFO CONTAINER  -->
    <div class="rideInfoContainer">
      <p class="rideInfoContainerTitle">Driver Information</p>

      <!-- RIDE INFO -->
      <p class="rideInfoName">{{ ride.driver_info.fname + " " + ride.driver_info.lname }}</p>
      <div class="rideInfoRating">
        {% for i in range(ride.driver_info.rating|int) %}
        <span class="fa fa-star" style="color: orange"></span>
        {% endfor %} {% for i in range(5 - ride.driver_info.rating|int)%}
        <span class="fa fa-star" style="color: lightgrey"></span>
        {% endfor %}
      </div>

      <p class="rideInfoSubtitle">License Plate</p>
      <p class="rideInfo">{{ ride.driver_info.license_plate }}</p>

      <p class="rideInfoSubtitle">Car Manufacturer</p>
      <p class="rideInfo">{{ ride.driver_info.car_manufacturer }}</p>

      <p class="rideInfoSubtitle">Car Description</p>
      <p class="rideInfo">{{ ride.driver_info.car_description }}</p>

      <p class="rideInfoSubtitle">Destination</p>
      <p class="rideInfo">{{ ride.destination }}</p>

      {% if ride.stops|length > 0 %}
      <p class="rideInfoSubtitle">Stops</p>
      {% for stop in ride.stops %}
      <p class="rideInfoSubtitle">stop #{{ loop.index }}</p>
      <p class="rideInfo">{{ stop }}</p>
      {% endfor %} {% endif %}

      <div class="row rideDetailsContainer">
        <div class="col-xs-4">
          <p>{{ ride.total_passengers }} Passenger</p>
        </div>
        <div class="col-xs-4">
          <p>Price: ${{ ride.cost }}</p>
        </div>
        <div class="col-xs-4">
          <p>{{ ride.distance }} miles</p>
        </div>
      </div>

      <div class="btnContainer">
          <button class="btnStyle1 btnBlueWhite" onclick="window.location.href = '{{ url_for('refresh_ride') }}'">refresh</button>
      </div>

      </div>

    </div>

  </div>
  <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
  <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBMoGOvmm_iE2suY-AnGKx8AmVqO6vz7gg&callback=initMap&libraries=&v=weekly"
    async
  ></script>

{% endblock %}

