{% extends 'base.html' %}

{% block head %}
  <!-- menu javascript -->
  <script type="text/javascript" src="{{url_for('static', filename='js/main.js') }}"></script>
  <!-- map javascript -->
  <script type="text/javascript" src="{{url_for('static', filename='js/map.js') }}"></script>
{% endblock %}

{% block content %}
  <div class="container-fluid user-bg blueText">
      
    <!-- NAVAGATION BAR -->
    <nav id="myTopnav" class="homePageNav">
      <p class="navTitle">REBU</p>
      <a id="hamburgerMenu" href="javascript:void(0);" onclick="toggleMenu()">
        <img src="{{url_for('static', filename='icons/hamburgerMenu.svg')}}" />
      </a>
    </nav>

    <!-- HIDDEN MENU -->
    <div id="hiddenMenu">
      <a>sign out</a>
      <a>edit account info</a>
      <a>swith to customer</a>
    </div>
    <!-- STATUS MESSAGE -->
    <h2 class="statusMsg">RIDE OVERVIEW</h2>
    <!-- GOOGLE API SCREEN -->
    <div id="map"></div>

    <!-- RIDE INFO CONTAINER  -->
    <div class="rideInfoContainer">
      <p class="rideInfoContainerTitle">Driver Information</p>

      <!-- RIDE INFO -->
      <p class="rideInfoName">John Doe</p>
      <img class="rideInfoRating" src="{{url_for('static', filename='icons/rate4.svg')}}" />
      
      <form>
        <input id="ridePickup" class="formInput2" placeholder="rate your driver (1-5)" type="text" name="">
      </form>
        

      <div class="btnContainer">
        <button class="btnStyle1 btnBlueWhite">complete</button>
      </div>
        
      </div>

    </div>

  </div>
  <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
  <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBMoGOvmm_iE2suY-AnGKx8AmVqO6vz7gg&callback=initMap&libraries=&v=weekly"
    async
  ></script>

{% endblock %}

