{% extends 'base.html' %}

{% block content %}
  <div class="container-fluid user-bg">
    <!-- NAVAGATION BAR -->
    <nav id="myTopnav" class="homePageNav">
      <p class="navTitle">REBU</p>
      <a id="hamburgerMenu" href="javascript:void(0);" onclick="toggleMenu()">
        <img src="{{url_for('static', filename='icons/hamburgerMenu.svg')}}" />
      </a>
    </nav>

    <!-- HIDDEN MENU -->
    <div id="hiddenMenu" style="display: none">
      <a href="{{ url_for('signout') }}">sign out</a>
      <a href="{{ url_for('edit_customer') }}">edit account info</a>
      <a href="{{ url_for('view_transactions') }}">view transactions</a>
      <a href="{{ url_for('switch_to_driver') }}">switch to driver</a>
    </div>

    <h2 class="srchMsg">Searching For Driver...</h2>


    <!-- REFRESH BUTTON  -->
    <div class="btnContainer">
        <button class="btnStyle1 btnWhiteBlue" id="homeForm">refresh</button>
    </div>



  </div>
{% endblock %}
